{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get a Quote - Budget Friendly Movers</title>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/get_quote.css' %}">
</head>


<body>

<div class="container">
    <h1>Get a Quote - Budget Friendly Movers</h1>
    <a class="logo" href="{% url 'index' %}">Home</a>
    <div class="quote-form">
        <form method="post" action="{% url 'get_quote' %}">
            {% csrf_token %}
            
            {% if form.errors %}
                <ul class="errorlist">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            
            <div class="form-group">
                <label for="moving_type">Moving Type:</label>
                <select id="moving_type" name="moving_type" required>
                    <option value="">Select Moving Type</option>
                    <option value="Residential">Residential</option>
                    <option value="Commercial">Commercial</option>
                </select>
            </div>
            <div class="form-group">
                <label for="house_size">House Size:</label>
                <select id="house_size" name="house_size" required>
                    <option value="">Select House Size</option>
                    <option value="Single or Bedsitter">Single or Bedsitter</option>
                    <option value="1 Bedroom">1 Bedroom</option>
                    <option value="2 Bedrooms">2 Bedrooms</option>
                    <option value="3 Bedrooms">3 Bedrooms</option>
                    <option value="4 Bedrooms">4 Bedrooms</option>
                    <option value="5+ Bedrooms">5+ Bedrooms</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="moving_date">Moving Date:</label>
                <input type="date" id="moving_date" name="moving_date" required>
            </div>
            <div class="form-group">
                <label for="moving_from">Moving From:</label>
                <input type="text" id="moving_from" name="moving_from" >
            </div>
            <div class="form-group">
                <label for="moving_to">Moving To:</label>
                <input type="text" id="moving_to" name="moving_to" >
            </div>
            <div class="form-group">
                <label for="current_house_type">Current House Type:</label>
                <input type="text" id="current_house_type" name="current_house_type" required>
            </div>
            <div class="form-group">
                <label for="destination_house_type">Destination House Type:</label>
                <input type="text" id="destination_house_type" name="destination_house_type" required>
            </div>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <input type="text" id="phone_number" name="phone_number" required>
            </div>
            <div class="form-group">
                <label for="extra_services">Extra Services:</label>
                <textarea id="extra_services" name="extra_services" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="more_details">More Details:</label>
                <textarea id="more_details" name="more_details" rows="4"></textarea>
            </div>
            <button type="submit">Get Quote</button>
        </form>
    </div>
</div>

</body>
</html>
